# STM32CubeIDE / Eclipse crap
**/.metadata/
**/.plugins/
*.snap

.project
.cproject
.settings/
*.launch

# Build artifacts
Debug/
Release/
*.elf
*.map
*.list
*.o
*.d
*.su
*.cyclo

# Workspace metadata
.metadata/